@ECHO OFF
SET TOOL_DIR=PATH TO ARMA 3 TOOLS
SET CONTENT_DIR=PATH TO PROJECT SOURCES
SET ARMA_MOD_DIR=PATH TO ARMA 3 MOD DIRECTORY (where all the mods are)
SET PYTHON=PATH TO YOUR PYTHON EXE
SET VERSION=171

"%PYTHON%" generateCustomModules.py

"%TOOL_DIR%\AddonBuilder\AddonBuilder.exe" "%CONTENT_DIR%\src\addons\ares_zeusExtensions" "%CONTENT_DIR%\bin\@Ares\addons" -packonly -clear > build_PBO_out.txt
"%TOOL_DIR%\DSSignFile\DSCheckSignatures.exe" "%CONTENT_DIR%\bin\@Ares\addons" "%CONTENT_DIR%\bin\@Ares\keys"

cp "%CONTENT_DIR%\bin\@Ares\addons\ares_zeusExtensions.pbo" "%ARMA_MOD_DIR%@ares\addons\ares_zeusExtensions.pbo"

"D:\Spiele\steamapps\common\Arma 3\arma3.exe" -nosplash -nolauncher -mod=@CBA_A3;@ares;
