@ECHO OFF
SET TOOL_DIR=D:\Spiele\steamapps\common\Arma 3 Tools\
SET CONTENT_DIR=C:\Users\jonas\IdeaProjects\Ares
SET ARMA_MOD_DIR=D:\Spiele\steamapps\common\Arma 3\
SET VERSION=171
SET PYTHON=python2.7.exe

"%PYTHON%" generateCustomModules.py

"%TOOL_DIR%\AddonBuilder\AddonBuilder.exe" "%CONTENT_DIR%\src\addons\ares_zeusExtensions" "%CONTENT_DIR%\bin\@Ares\addons" -packonly -clear > build_PBO_out.txt
"%TOOL_DIR%\DSSignFile\DSCheckSignatures.exe" "%CONTENT_DIR%\bin\@Ares\addons" "%CONTENT_DIR%\bin\@Ares\keys"

cp "%CONTENT_DIR%\bin\@Ares\addons\ares_zeusExtensions.pbo" "%ARMA_MOD_DIR%@ares\addons\ares_zeusExtensions.pbo"

"D:\Spiele\steamapps\common\Arma 3\arma3.exe" -nosplash -nolauncher -mod=@CBA_A3;@ares;
